body {
    margin: 0;
    background-image: url(nuvens.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Tahoma;
    font-size: 12pt;
    color: #55acee; 
}

#cabecalho {
    width: 100%;
    height: 50px;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

a {
    padding: 15px;
    text-decoration: none;
    color: #55acee;
}

a:hover {
    background-color: #c0deed;
    color: white;
    border-radius: 5px;
}

#inf {
    width: 250px;
    float: left;
    margin-left: 50px;
    margin-right: 10px;
}

.boxinf {
    background-color: #8ec1da;
    border-color:#0084b4;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px
}

#tweets {
    width: 550px;
    float: left;
}

.boxtweet {
    background-color: #ffffff;
    border: solid;
    border-color: #8ec1da;
    border-radius: 1px;
    padding: 10px;
    margin-bottom: 2px;
}

.boxtweet:hover {
    background-color: #e9e9e9;
}

.usuario {
    float: right;
}

.texto {
    color: #000000;
}